.mixing-board {
  padding: 40px 0;
  background: #111;
  color: white;
  text-align: center;
}

.sliders-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  appearance: none;
  width: 8px;
  height: 200px;
  transform: rotate(-90deg);
  margin: 40px 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #444;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  background: linear-gradient(145deg, #ccc, #eee);
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: linear-gradient(145deg, #fff, #e6e6e6);
}


.create-btn {
  margin-top: 30px;
  padding: 14px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;

  color: white;
  font-weight: 600;

  border-radius: 12px;
  border: 2px solid #3a3a3a;

  /* background: linear-gradient(145deg, #ececec, #b9b9b9); */
  background: 
    url('https://www.transparenttextures.com/patterns/brushed-alum.png'),
    linear-gradient(145deg, #ececec, #b9b9b9);
  
  box-shadow:
    inset 2px 2px 4px rgba(255,255,255,0.9),
    inset -3px -3px 6px rgba(0,0,0,0.2),
    0 6px 12px rgba(0,0,0,0.4),
    0 0 0 3px rgba(255,255,255,0.05);

  transition: 0.18s ease-in-out;
}

.create-btn:hover {
  background: linear-gradient(145deg, #fefefe, #d2d2d2);

  box-shadow:
    inset 2px 2px 4px rgba(255,255,255,0.9),
    inset -3px -3px 6px rgba(0,0,0,0.25),
    0 0 12px #ff006e,
    0 0 24px #ff006e,
    0 0 40px #ff006e;

  filter: brightness(1.05);

}

.create-btn:active {
  transform: translateY(2px);

  box-shadow:
    inset -2px -2px 5px rgba(255,255,255,0.6),
    inset 3px 3px 8px rgba(0,0,0,0.25),
    0 3px 8px rgba(0,0,0,0.35);
}


.results {
  margin-top: 80px;
  opacity: 0;
}

.scroll-section {
  padding: 120px 0;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
  opacity: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}