.mixing-board {
  padding: 40px 0;
  background: #111;
  color: white;
  text-align: center;
}

.sliders-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  appearance: none;
  width: 8px;
  height: 200px;
  transform: rotate(-90deg);
  margin: 40px 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #444;
  border-radius: 4px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  background: linear-gradient(145deg, #ccc, #eee);
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: linear-gradient(145deg, #fff, #e6e6e6);
}

.create-btn {
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;

  background: linear-gradient(145deg, #d5d5d5, #9e9e9e);
  border-radius: 12px;
  border: 2px solid #444;

  box-shadow:
    inset 1px 1px 3px rgba(255,255,255,0.9),
    inset -1px -1px 3px rgba(0,0,0,0.4),
    0 3px 8px rgba(0,0,0,0.6);
  
  color: #222;
  transition: 0.2s ease;
}

.create-btn:hover {
  box-shadow:
    inset 1px 1px 3px rgba(255,255,255,0.9),
    inset -1px -1px 3px rgba(0,0,0,0.4),
    0 0 10px #ff006e,
    0 0 20px #ff006e;
}

.create-btn:active {
  transform: scale(0.97);
  background: linear-gradient(145deg, #bbbbbb, #7a7a7a);
}


.results {
  margin-top: 80px;
  opacity: 0;
}

.scroll-section {
  padding: 120px 0;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
  opacity: 0;
}
